body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(81, 80, 80);


}
*{
    box-sizing: border-box;
}
#navbar{
    background:#ffff;
    height:70px;
    z-index:999;
    margin:0 auto;
    border-bottom:1px solid #dadada;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
}
#nav, #navtwo{
    width: 100%;
    display: flex;
    justify-content: space-between;  
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid rgb(201, 198, 198);
    background-color: white;
    
}
#navtwo{
    height: 45px;
    border-top: none;
    border-bottom: 2px solid rgb(201, 198, 198);;
}

#logo>img{
    height: 70px;
    width: 170px;
    cursor: pointer;
}
.firstdiv{
    display: flex;
}
.search{
    border: 1px solid grey;
    height: 50px;
    width: 350px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 15px;
    border-radius: 5px;
}
.search>img{
    height: 20px;
    width: 20px;
    margin: 5px;
}
.search>input{
    color: grey;
    background: transparent;
    outline: none;
    width: 300px;
    border: none;
    font-size: 15px;
}
.secondDiv{
    display: flex;
}
.vertical{
    border-right: 2px solid rgb(203, 202, 202);
  height: 80px;
  margin-left: 15px;
}

#mob, #supplier{
    display: flex;    
    align-items: center;
    margin: 5px;
    margin-top: 0px;
}

h5{
    font-weight: 400;
    font-size: 16px;
    color: rgb(47, 47, 47);
}
#mob>p>i{
   font-size: 30px;
   margin: 10px;
   color: rgb(81, 80, 80);
}

#profile, #cart{
   display: block;    
    margin: 1px;
    margin-bottom: 3px;
    margin-left: 30px;
    display: block;
    text-align: center;
    padding: 10px;
    color: rgb(47, 47, 47);
    cursor: pointer;
}
#profile>i, #cart>i{
    font-size: 30px; 
    
}
#profile>h5, #cart>h5{
    margin: 0px;
}


#mob{
    position: relative;
}
#download{
    position: absolute;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 260px;
    background-color: white;
    padding: 9px;
    border-radius: 10px;
    color: rgb(81, 80, 80);  

}
#Profile{
    position: absolute;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 5px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: rgb(81, 80, 80);
}
#Profile>button{
    cursor: pointer;
}
#download>img{
    width: 200px;
    height: 50px;
    margin: 5px;
}
#Ethnic, #Western, #Men, #Kids, #Kitchen, #Beauty, #Jewellery, #Footwear, #Electronics{
    /* border: 1px solid red; */
    display: flex;
   align-items: center;
    margin: 3px;
    margin-top: 1px;
    height: 55px;
    padding-top: px;
    cursor: pointer;
    
}
#mob:hover, #profile:hover, #Ethnic:hover, #Western:hover, #Men:hover, #Kids:hover, #Kitchen:hover, #Beauty:hover, #Jewellery:hover, #Footwear:hover, #Electronics:hover{
    border-bottom: 5px solid rgb(244, 51, 151);
}
#mob:hover h5, #mob:hover i, #profile:hover h5, #profile:hover i, #Ethnic:hover h5, #Western:hover h5,#Men:hover h5,#Kids:hover h5, #Kitchen:hover h5, #Beauty:hover h5, #Jewellery:hover h5, #Footwear:hover h5, #Electronics:hover h5{
    color: rgb(244, 51, 151);
}
#mob:hover #download, #profile:hover #Profile{
    display: block;  
}

#Profile{
    margin-top: 20px;
    text-align: left;
}
#Profile>h3{
    margin: 1px;
}
#Profile>p{
    font-size: 13px;
}
#Profile>button{
    width: 200px;
    height: 50px;
    background-color: rgb(244, 51, 151);
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}
#Ethnic{
    position: relative;
}
#menu, #Westernmenu, #Menmenu,#Kidsmenu,#Homemenu,#Beautymenu,#Jewellerymenu,#Footwearmenu,#Electronicsmenu{
    position: absolute;
    display: none;
    margin-top: 31px;
    margin-left: -45px;
    width: 1150px;
    background-color: white;
    padding: 10px;
    color: rgb(81, 80, 80);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    
}
#menu{
    margin-left: -110px;

}
#Electronicsmenu{
    margin-left: -1110px;

}
#Footwearmenu{
    margin-left: -1000px;
}
#Jewellerymenu{
    margin-left: -850px;
}
#Westernmenu{
    margin-left: -250px;
}
#Menmenu{
    margin-left: -310px;
}
#viewMenu{
    display: flex;
}
#Kidsmenu{
    margin-left: -370px;
}
#viewMenu>div{
    margin: 5px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
    display: block;
}
#viewMenu>div>h4{
    color: rgb(244, 51, 151);
}
#viewMenu>div>a{
    color: rgb(81, 80, 80);
    text-decoration: none;
    margin: 5px;
}
#Homemenu{
    margin-left: -510px;
}
#Beautymenu{
    margin-left: -650px;
}
.two{
    background-color: rgb(232, 234, 236);
}
#Ethnic:hover #menu, #Western:hover #Westernmenu, #Men:hover #Menmenu, #Kids:hover #Kidsmenu, #Kitchen:hover #Homemenu, #Beauty:hover #Beautymenu, #Jewellery:hover #Jewellerymenu, #Footwear:hover #Footwearmenu,#Electronics:hover #Electronicsmenu{
    display: block; 
}
/* Middle */
.middle{
    width: 80%;
    margin: auto;
    margin-top: 150px;
}
#lowestPrice{
    display: flex;
    margin-top: 50px;
}
.prices{
    width: 50%;
    padding-left: 30px;
    padding-top: 10px;
    background-color: rgb(244, 246, 248);
    border-radius: 3px;
}
.prices>h1{
    font-size: 40px;
}
.threeImg{
    display: flex;
    background-color: white;
    width: 90%;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 1px;
    height: 60px;
    border-radius: 5px;
}
.threeImg>div{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}
.threeImg>div>img{
    background-color: rgb(244, 51, 151);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.threeImg>div>p{
    font-size: 15px;
}
.vline{
    border-right: 2px solid rgb(203, 202, 202);
}
.image1{
    width: 50%;
    
}
.playstore>button{
    display: flex;
    background-color: rgb(244, 51, 151);
    margin-top: 20px;
    width: 65%;
    align-items: center;
    border-radius: 5px;
    padding-left: 15px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}
.playstore>button>img{
    width: 30px;
    height: 35px;
    border-radius: 2px;
    margin-right: 5px;
}
.playstore>button>h5{
    color:  white;
    font-weight: 500;
}
.topcate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.topcate>h1{
    margin-left: 20px;
    margin-right: 20px;
}
.horizontal{
    border-bottom: 1px solid rgb(244, 51, 151);
    width: 21%;
    height: 0.09px;
}
.fashion{
    background: url(../Images/fashion.webp);
    padding: 40px;
    padding-top: 50px;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
    border-radius: 5px;

}
#storeImg2,#storeImg3{
    height: 300px;
    width: 300px;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 150px;
}
#storeImg1{
    height: 400px;
    width: 370px;
    margin-top: 50px;
    cursor: pointer;
}
.essential,.newStyle{
    background: url(../Images/Essentials.webp);
    margin-top: 70px;
    border-radius: 5px;
    display: flex;
    padding: 30px;
    align-items: center;
    margin-bottom: 10px;
}
.newStyle{
    background: url(../Images/NewStyle.jpg);
}
.viewbtn{
    margin-top: 100px;
    margin-left: 50px;
}
.essentialImg,.newStyleImg{
    margin-left: 150px; 
    display: flex;
}
#card{
    margin: 10px;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}
#card>img{
    margin-bottom: 1px;
}
#card>p{
    margin-top: 0px;
    padding-top: 0px;
}
.reseler{
    background: url(../Images/reseller.webp);
    text-align: right;
    padding-top: 50px;
    padding-right: 50px;
   margin-top: 70px;
   margin-bottom: 10px;
   border-radius: 5px;
}
.reseler>h1{
    color: rgb(244, 51, 151);
    font-size: 40px;
    line-height: 50px;
}
.reseler>h2{
    color: rgb(0, 162, 255);
}
.reseler>div>img{
    width: 150px;
    height: 40px;
    margin-bottom: 250px;
    border-radius: 5px;
    cursor: pointer;
}
.supplier{
    background: url(../Images/supplyBanner.webp);
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-left: 50px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.supplier>div{
    display: flex;
    align-items: center;
    
}
.supplier>div>span{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    margin-right: 20px;
}
.supplier>div>img{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 55%;
    
}
#signUPBtn{
    background-color: white;
    color: rgb(244, 51, 151);
    border-radius: 5px;
    width: 140px;
    height: 60px;
    margin-top: 22px;
    margin-bottom: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 1px;
}
#verLine{
    border-right: 2px solid rgb(203, 202, 202);
  height: 25px;
  margin-right: 25px;
}

/* product */
.product{
    width: 90%;
    margin: auto;
    padding: 10px;
    
}.product>div{
    display: flex;
}
.product>h1{
    color: rgb(44, 44, 44);
    
}
#sort{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(162, 160, 160);
}

#sort>option:hover{
    background-color: gainsboro;
}

#filterdiv{
    width: 300px;
    margin-top: 5px;
    outline: none;
}
.filterHead{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.filterHead>div>h4{
    padding-left: 20px; 
    color: rgb(44, 44, 44);
}

.filterHead>div>h5{
    color: rgb(244, 51, 151);
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.filterHead>div>p{
    padding-left: 20px;
    color: grey;
    font-size: 15px;
}
.filterBtn{
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(189, 188, 188);
    padding: 7px;
    font-size: 13px;
    margin: 5px;
}

/* footer */
#footer{ 
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#footerstart{
    bottom: 0px;
    width: 100%;
    margin-top: 400px;
    padding: 50px;
    padding-left: 70px;
    background-color: rgb(244, 246, 248);

}

#footer>div>h3{
    color: rgb(44, 44, 44);
    margin-bottom: 20px;
}
#footer>div>p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#footer>div>div>img{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
}
#footer>div>h4{
    font-size: 15px;
}
#footer>#reach>div>img{
    width: 25px;
    height: 20px;
    margin: 5px;
}
#reach>h3{
    font-size: 18px;
}
#reach>p{
    font-size: 13px;
}
.about{
    margin-top: 20px;
}

/* card */
#displayproduct{
    display: grid;
    margin-left: 35px;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    
    
}
#displayproduct>div{
    border: 1px solid green;
    border: 1px solid grey;
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: white;
    cursor: pointer;
}
#displayproduct>div>img{
    width: 200px;
    height: 210px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#displayproduct>div>p{
    padding-top: 5%;
    padding-left: 5%;
    font-size: 15px;
    margin-bottom: 5px;
}
#displayproduct>div>h3{
    padding-left: 5%;
    font-size: 20px;
    color: rgb(14, 14, 14);
}
#rt{
    margin-left: 5%;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(3, 138, 97);
    color: white;
    width: 30%;
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 20px;
}
#rt span:nth-child(1){
    margin: 5px;
}
